.btn {
  margin-right: 15px;
  width: 80px;
  border-radius: 10%;
  border: 0.5px solid rgb(167, 167, 167);
  background-color: rgb(230, 230, 230);
  text-transform: capitalize;
  color: rebeccapurple;
}

.btn:active {
  color: black;
  background-color: blueviolet;
}
